<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Forward everything that isn't a real file to Node.js
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.js [L]
</IfModule>

# Phusion Passenger Setup
<IfModule mod_passenger.c>
  PassengerEnabled on
  PassengerAppRoot /
  PassengerStartupFile index.js
  PassengerAppType node
</IfModule>

# Security Headers
<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set X-XSS-Protection "1; mode=block"
  Header set X-Frame-Options "SAMEORIGIN"
  Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>

# Enable GZIP compression
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json
</IfModule>
